*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newDiv{
  /* padding: 25px; */
  height: auto;
  width: 100%;
  border: 2px solid black;
}
.bg-img{
  background-image: url('./photo-frame.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  hight:220px;
  width:100%;
}
.card-video{
  position: relative;
  z-index: -12;
}

#screan-shot{
  position: relative;
  z-index: -12;
}
